OPENROUTER_API_KEY=your_openrouter_api_key_here
GEMINI_TEXT_MODEL=google/gemini-2.5-flash, deepseek/deepseek-chat-v3-0324
EDGE_TTS_VOICE=uz-UZ-SardorNeural
EDGE_TTS_RATE=+15%
EDGE_TTS_PITCH=+50Hz
EDGE_TTS_VOLUME=+18%
STT_LANGUAGE=uz-UZ
GREETING_TEXT=Assalomu alaykum! Tanishsak bo'ladimi? Ismingiz nima?
ROBOT_SERIAL_PORT=COM11
ROBOT_BAUD_RATE=115200